<%= link_to recipe_path(recipe) do %>
  <div>
    <div>
      <h2><%= recipe.name %></h2>
    </div>
    <div>
      <h2><%= recipe.description %></h2>
    </div>
    <%= button_to "Remove", recipe, method: :delete %>
  </div>
<% end %>