<%= stylesheet_link_tag "recipes", "data-turbo-track": "reload" %>
<p style="color: green"><%= notice %></p>
<h1>Recipes</h1>
<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render 'recipe_card', recipe: recipe %>
  <% end %>
</div>
