<%= render @recipe %>
<div>
  <%# <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %>
  <%= link_to "Back to recipes", user_recipes_url %>
  <% if can? :destroy, @recipe %>
    <%= button_to "Remove", user_recipe_url, method: :delete %>
  <% end %>
</div>
