<p style="color: green"><%= notice %></p>

<%= render @food %>

<div>
  <%= link_to "Back to foods", user_foods_path %>
<% if can? :destroy, @food %>
  <%= button_to "Delete this food", user_food_path, method: :delete %>
<% end %>
</div>
