<div class="page-container">
<h2 class="page-title">Edit Recipe Ingredient</h2>

<%= render "edit_form", recipe_food: @recipe_food %>

<br>

<div>
  <%= link_to "Cancel", url_for(:back) %>
</div>
</div>
